<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        *p{
            text-align: center;
            margin: auto;
        }
        h5{
            padding-bottom: 50px;
        }

        tr{
            padding-bottom: 10px;
        }
        td{
            margin-left: 10px;
            margin-top: 20px;
        }

        .frameDSTK{
            height: 700px;
            width: 1300px;
            background-color: #E1EDED;
            margin: 100px auto 16px;
            border: 2px black solid;
        }
        .frameAnh{
            height: 695px;
            width: 70px;
            float: left;

        }
        .frameQL{
            height: 695px;
            width: 1225px;
            float: left;

        }

        .buttonaddTK{
            width: 300px;
            height: 40px;
            background-color: #005cbf;
            text-align: center;
            color: white;
            float: right;
            margin-right: 170px;

        }
        .frameTable{
            margin-left: 100px;
            width:800px ;
            height: auto;
            float: left;
        }
        .tableqltk{
            border: 5px black solid;
            text-align: center;
        }
        .father{
            height: 500px;
            overflow:visible;
        }
        .t{
            Display: inline-block
        }

    </style>
</head>
<body>
<div class="container">
    <div class="frameDSTK">
        <div class="frameAnh">
            <img class="frameAnh" src="img/menu.png">
        </div>
        <div class="frameQL">
             <h1>Thông tin Sinh Viên </h1>
            <a href="/"><button class="buttonaddTK">Thêm tài khoản</button></a><br/><br/>
            <div class="frameTable father">
                <table style="width:120%;height:100px" class="tableqltk">
                    <tr class="tableqltk">
                        <td class="tableqltk">ID</td>
                        <td class="tableqltk">Mã Sinh Viên</td>
                        <td class="tableqltk">Tên</td>
                        <td class="tableqltk">Ngày Sinh</td>
                        <td class="tableqltk">Avatar</td>
                        <td class="tableqltk">Chỉnh Sửa Thông Tin</td>
                    </tr>
                    <% data.forEach(function(i){%>
                    <tr class="tableqltk">
                        <td class="tableqltk"><%=i.ID%></td>
                        <td class="tableqltk"><%=i.MaSinhVien%></td>
                        <td class="tableqltk"><%=i.Ten%></td>
                        <td class="tableqltk"><%=i.NgaySinh%></td>
                        <td class="tableqltk"><%=i.avatar%></td>
                        <td>
                            <form method="post" action="" class="t">
                                <input type="hidden" name="ID" value="<%=i.ID%>">
                                <button>Xóa</button>
                            </form>

                            <form method="get" action="/SuaSV" class="t">
                                <input type="hidden" name="IDupdate" value="<%=i.ID%>">
                                <button>Sửa</button>
                            </form>

                        </td>
                    </tr>

                    <%})%>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>